/* Custom properties */

:root {
    --color-black-dark: rgb(30, 39, 46);
    --color-black-medium: rgba(249, 217, 0, 0.06);
    --color-black-ligth: rgb(43, 52, 59);

    --color-white: #d5d6d7;

    --font-title: "Champagne&Limousines";
    --font-title-bold: "Champagne&Limousines-Bold";
    --font-p: "Nunito";

    --color-main: #0ab4ff;
    --color-main-dark: #009ce0;
}

/* Variables SASS */