@font-face {
    font-family: "Champagne&Limousines";
    src: url(./src/assets/fonts/Champagne&Limousines.ttf) format("truetype");
}

@font-face {
    font-family: "Champagne&Limousines-bold";
    src: url(./src/assets/fonts/Champagne&Limousines-Bold.ttf) format("truetype");
}